{% extends './layout.html' %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static  'tweets/styles/style.css' %}">
{% endblock %}
{% block title %}Show User{% endblock %}
{% block header %}@{{ user.username }}'s tweets{% endblock %}
{% block body %}
  <div class="feed">
    {% for tweet in user.tweets.all|dictsortreversed:"created_at" %}
      <div class="tweet">
        <h3>@{{ tweet.creator.username }}</h3>
        <p>{{ tweet.content }}</p>
        <h4>{{ tweet.users_liked.count }}</h4>
        {% if user in tweet.users_liked.all %}
          <a href="{% url 'tweets:unlike' tweet.id %}" class="button">Unlike</a>
        {% else %}
          <a href="{% url 'tweets:like' tweet.id %}" class="button">Like</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}