<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Hello Wes!</h1>
    <div class="gold">
      Gold Amount: {{ user['total_gold'] }}
    </div>
    <a href="/logout" class="button">Logout</a>
    <div class="locations">
      {% for location in locations %}
        <div class="location">
          <form action="/process_gold" method="post">
            <h2>{{ location['name'] }}</h2>
            <p>Between {{ location['min_gold'] }} and {{ location['max_gold'] }} gold!</p>
            <input type="hidden" name="location" value="{{ location['id'] }}">
            <input type="submit" value="Visit {{ location['name'] }}">
          </form>
        </div>
      {% endfor %}
    </div>
    <div class="activities">
      {% for activity in activities %}
        {% if activity['gold'] > 0 %}
          <p class="green">Earned {{ activity['gold'] }} from {{ activity['location'] }} at {{ activity['date'].strftime('%m/%d/%y') }}</p>
        {% else %}
          <p class="red">Lost {{ activity['gold'] }} from {{ activity['location'] }} at {{ activity['date'].strftime('%d/%m/%y') }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</body>
</html>